/* Reset and basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    width: 100%;
    height: 100vh;
}

/* navigation bar */
nav {
    padding: 20px;
    text-align: center;
    background-color: #4e5072;
    border-radius: 0 0 20px 20px;
    height: 40px;
}
ul{
    list-style-type:none ;
    margin: 0;
    padding: 5px;
}
li{
    display: inline;
    margin-right: 20px;
  }
a{
    text-decoration: none;
    color: #cfd8dc;
}
.name{
    margin-right: 700px;
    font-size: 30px;
    color: #cfd8dc;
    
}
.active{
    background-color: #6b6fa8;
    padding: 10px;
    border-radius: 50%
}
/* end of navigation bar */

/* Container for sidebar and main content */
.container {
    display: flex;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: white;
    /* overflow: hidden; Prevents scrollbar if content is wider */
    width: 98%;
}

/* Sidebar */
.sidebar {
    background-color: #e3b211;
    color: white;
    width: 300px;
    padding: 20px;
    text-align: center;
    height: 80vh;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.name {
    font-size: 24px;
    margin-bottom: 10px;
    justify-content: center;
}

.title {
    font-size: 14px;
    margin-bottom: 8px;
}

.contact-info {
    margin-top: 20px;
}

.contact-info a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 30px;
    overflow: auto; /* Allows scrolling if content exceeds */
    
}

.section-title {
    color: #4e5072;
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 2px solid #4e5072;
    padding-bottom: 10px;
}

.resume-item {
    margin-bottom: 20px;
}

.achievement {
    margin-bottom: 20px;
}
.skills-list {
    padding: 0;
    list-style-type: none;
}

.skills-list li {
    margin-bottom: 8px;
}
